<div class="card">
  <%= image_tag prototype.image, class: 'card__img' if prototype.image.attached? %>
  <div class="card__body">
    <%= link_to 'プロトタイプのタイトル', prototype_path(prototype.id), method: :get, class: :card__title%>
    <p class="card__summary">
      <%= "プロトタイプのキャッチコピー" %>
    </p>
    <%= link_to "by#{prototype.user.name}", user_path(current_user), method: :get, class: :card__user  %>
  </div>
</div>


